<div class="row">
  <!-- Column containing the _Cocktail_Update_Card_ -->
  <div class="col-lg-6 mt-4 p-4">
    <%= render 'shared/cocktail_update_card' %>
  </div>
  <!-- Column containing a card of the cocktail image -->
  <div class="col-lg-6">
    <div class="card">
      <%= image_tag @cocktail[:image_url], :class => "card-img" %>
    </div>
  </div>
</div>
