<!-- Rendering the 1. Title and 2. Search bar -->
<div class="row align-items-center">
  <!-- 1. Title -->
  <div class="col">
    <h1>Cocktails</h1>
  </div>
  <!-- 2. Search bar -->
  <div class="col d-flex justify-content-end">
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" name="query" type="search" placeholder="Search" aria-label="Search" value="<%= params[:query] %>">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
  </div>
</div>

<hr>
<!-- Rendering the cocktails -->
<div class="row">
  <%= render 'shared/cocktail_card' %>
</div>
