<div class="navbar navbar-expand-sm navbar-light footer-lewagon d-flex justify-content-between">

  <div class="container pt-4 pb-4 ">
    <div class="col-12">
      <div class="row justify-content-center">
        <%= link_to root_path, :class => "navbar-brand" do %>
          <%= image_tag asset_path('la-boisson-logo-light.png') %>
        <% end %>
      </div>
      <div class="row justify-content-center text-white mt-3">
        <h5>La Boisson © 2020</h5>
      </div>
    </div>
  </div>
</div>
