<h1>Create a new cocktail:</h1>
<!-- Cocktail crreation forms: 1. Cocktail form, 2. Ingredients form/list, 3. Finish Button  -->
<div class="col-12">
  <!-- 1. Rendering the cocktail creation form -->
  <div class="card mt-4 opacity-30" disabled="diasabled">
    <%= render 'shared/cocktail_form'%>
  </div>
  <!-- 2. Ingredients form/list -->
  <div class="card mt-4 shadow-lg">
    <div class="card-body">
      <h5 class="card-title">Step 2</h5>
      <h6 class="card-subtitle mb-2 text-muted">Add some ingredients to mix your cocktail!</h6>
      <%= render 'shared/ingredient_button_list' %>
      <% page_origin = 'new_cocktail' %>
      <%= render 'shared/dose_form_modal' %>
    </div>
  </div>
  <!-- 3. Finish button -->
  <div class="row mt-4 justify-content-center">
    <button id="sweet-alert-demo" class="btn btn-outline-primary">Finish!</button>
    <%= link_to "", cocktail_path(@cocktail), method: :get, id: "create-link", class: "hidden" %>
  </div>
</div>
