.navbar-lewagon {
  justify-content: space-between;
  background-color: #FFFFFF;
  transition: 0.5s box-shadow ease;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 150px;
}

.navbar-lewagon-white {
  box-shadow: 0 1px 15px 0 rgba(192,72,25,0.32);
}

.white-text {
  color: white !important;
}
